<div class="footer">
	<ul>
		<li><%=link_to "Home", root_path %></li>
		<li><a href="#about.html">About</a></li>
		<li><a href="#blog.html">Blog</a></li>
		<li><a href="#services.html">Gallery</a></li>
	</ul>
	<p>&#169; Copyright &#169; 2014. Cha Ca NhaTrang</p>
	<div class="connect">
		<a href="http://facebook.com/hoasung01" id="facebook">facebook</a>
		<a href="http://twitter.com/hoasung01" id="twitter">twitter</a>
		<a href="http://www.youtube.com/hoasung01" id="vimeo">vimeo</a>
	</div>
</div>