<footer id="footer-main" role="contentinfo">
	<div class="topfooter cf">
		<div class="wrapper cf">
			<p class="copy"> Power by hoasung01</p>
			<div class="rightfooterpart">
				<div class="footerlogo">
					<!--<h1 class="custfootlogo"> -->
						<!--<%=link_to "logo here", "#"%>-->
					<!--</h1>-->
				</div>
			</div>
		</div>
	</div>

	<div class ="bottomfooter">
		<div class="wrapper cf">
			<div class="leftpartfooter">
				<div class="contactpart">
					<span class="onecont">
						Contacts:
					</span>
					<span class="twocont">
						<span class="phonefooter"> Hotline: 0934 786 800 - 0583 889 694
						</br>
						       <small>nguyenngochai.shipagent@gmail.com </small>
						</span>
					</span>
					<span class="threecont">
						Head: 23 Vo Thi Sau, Vinh Truong, Nha Trang, Khanh Hoa
						</br>
						Ref: 23 Vo Thi Sau, Vinh Truong, Nha Trang, Khanh Hoa
					</span>
				</div>
			</div>
			<div class="rightpartfooter">
				<nav id="bottommenu" class="bottommenu cf" role="navigation">
				</nav>
			</div>
		</div>
	</div>
		<!-- <ul>
			<li><%=link_to "Trang chủ", root_path %></li>
			<li><a href="#about.html">Giới thiệu</a></li>
			<li><a href="#blog.html">Blog</a></li>
			<li><a href="#services.html">Gallery</a></li>
		</ul>
		<p>&#169; Copyright &#169; 2014. Cha Ca NhaTrang</p>
		<div class="connect">
			<a href="http://facebook.com/hoasung01" id="facebook">facebook</a>
			<a href="http://twitter.com/hoasung01" id="twitter">twitter</a>
			<a href="http://www.youtube.com/hoasung01" id="vimeo">vimeo</a>
		</div> -->
</footer>