<div class="header">
	<!--<%=link_to image_tag("logo.gif", :alt =>""), :href => "index.html", :id => "logo" %> -->
	<ul>
		<li><%=link_to "Home", root_path, :class => "selected" %></li>
		<li><a href="#about.html">About Us</a></li>
		<li><a href="#blog.html">Blog</a></li>
		<li><%=link_to "Services", posts_path %></li>
		<li><%=link_to "Contact Us", contact_us_path %></li>
	</ul>
</div>