<div class="topline cf">
		<div class="wrapper cf">
			<div class="headerleftdata">
				<span class="phonenum"> Hotline: 0934.786.800 - 0583.889.694
				</span>
				<span class="adresstext">Ref: 23 Vo Thi Sau, Vinh Truong, Nha Trang
				</span>
			</div>
		</div>
</div>

<div class="header" >
	<!--<%=link_to image_tag("logo.gif", :alt =>""), :href => "index.html", :id => "logo" %> -->
	<ul>
		<li><%=link_to "Trang chủ", root_path, :class => "selected" %></li>
		<li><a href="#about.html">Giới thiệu</a></li>
		<li><a href="#blog.html">Blog</a></li>
		<li><%=link_to "Sản phẩm", posts_path %></li>
		<li><%=link_to "Liên hệ", contact_us_path %></li>
	</ul>
</div> 