<div class="header">
	<!--<%=link_to image_tag("logo.gif", :alt =>""), :href => "index.html", :id => "logo" %> -->
	<ul>
		<li><%=link_to "Trang chủ", root_path, :class => "selected" %></li>
		<li><a href="#about.html">Giới thiệu</a></li>
		<li><a href="#blog.html">Blog</a></li>
		<li><%=link_to "Sản phẩm", posts_path %></li>
		<li><%=link_to "Liên hệ", contact_us_path %></li>
	</ul>
</div>