<div class="header">
	<!--<%=link_to image_tag("logo.gif", :alt =>""), :href => "index.html", :id => "logo" %> -->
	<ul>
		<li><%=link_to "Home", root_path, :class => "selected" %></li>
		<li><a href="#about.html">About Us</a></li>
		<li><a href="#blog.html">Blog</a></li>
		<li><a href="#services.html">Services</a></li>
		<li><a href="#contact_us.html">Contact Us</a></li>
	</ul>
</div>