<div id="content-main" role="main" class="cf">
	<section class="page menupagesection cf" style="padding-bottom:840px;">
		<div class ="wrapper">
			<div class="pagetitle menutypetitle">
				<h2>Chả cá Nha Trang</h2>
			</div>
			<%=render :partial => "shared_index"%>
		</div>
	</section>	
<div>